<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Clustering</title>
</head>
<body background="./static/clustering_background.jpg"; style="background-repeat: no-repeat;background-size: 1500px;">
    <center>
        <h1 style="color:green;background-color: white; font-weight: bolder;font-size: 40px;">Customer Churn Segmentation based on Balance and EstimatedSalary </h1>
        <img src="./static/clustering.png" alt="" style="height: 600px;width: 800px;">
        <h4 style="color:green;font-size: 20px; background-color: white;">Most valuable churn customer for company is cluster 1 with yellow color. It's bank customer with high salary and high balance. </h4>
    </center>
</body>
</html>