<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
    <title>Bank Customer Churn</title>
   
</head>
<style>
</style>
<body style='background-image: url(./static/background_home_fix.jpg);background-repeat: no-repeat; background-size: 100em;'  >
    <div class="container-fluid">
        <br><br>  
        <br><br>
        <center><img src="./static/logo.png" alt="" width="30%"  ></center>
        <br><br>
        <center><b style="font-size: 40px;color:green">Standard Chartered Customer Churn Prediction</b></center>
        <center><form method="POST" action="http://127.0.0.1:5000/dataset">
            <br><br>
                <button class="btn btn-info" style="height: 50px; width: 200px; " >Dataset</button>
        </form></center>
            <center><form method="POST" action="http://127.0.0.1:5000/visualization">
                <br><br>
                    <button class="btn btn-success" style="height: 50px; width: 200px; ">Visualization</button>
            </form> </center>
            <center><form method="POST" action="http://127.0.0.1:5000/prediction">
                <br><br>
                    <button class="btn btn-primary" style="height: 50px; width: 200px; ">Prediction</button>
            </form> </center>
            <center><form method="POST" action="http://127.0.0.1:5000/clustering">
                <br><br>
                    <button class="btn btn-info" style="height: 50px; width: 200px; ">Clustering</button>
            </form> </center>

    </div>
    
</body>
</html>